scope_definition.json
{
	"id": "84daf34f-d4da-40b6-a881-aa6d-baa21f86",
	"brandColor": "#8C3900",
	"connectionReferences": {
		"shared_sharepointonline": {
			"connection": {
				"id": "/otsf_sharedsharepointonline_b3e61"
			}
		},
		"shared_sharepointonline_1": {
			"connection": {
				"id": "/otsf_sharedsharepointonline_b892a"
			}
		}
	},
	"connectorDisplayName": "Control",
	"icon": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KIDxwYXRoIGQ9Im0wIDBoMzJ2MzJoLTMyeiIgZmlsbD0iIzhDMzkwMCIvPg0KIDxwYXRoIGQ9Im04IDEwaDE2djEyaC0xNnptMTUgMTF2LTEwaC0xNHYxMHptLTItOHY2aC0xMHYtNnptLTEgNXYtNGgtOHY0eiIgZmlsbD0iI2ZmZiIvPg0KPC9zdmc+DQo=",
	"isTrigger": false,
	"operationName": "Populate-Office-Template",
	"operationDefinition": {
		"type": "Scope",
		"actions": {
			"SharePoint-Base-Url": {
				"type": "Compose",
				"inputs": "@concat(\r\n\tfirst(\r\n\t\tsplit(\r\n\t\t\ttoLower(\r\n\t\t\t\toutputs('SharePoint-Site-Url')\r\n\t\t\t),\r\n\t\t\t'sharepoint.com'\r\n\t\t)\r\n\t),\r\n\t'sharepoint.com'\r\n)",
				"runAfter": {
					"Inputs-You-Provide": [
						"Succeeded"
					]
				},
				"description": "Compose [DO NOT MODIFY]"
			},
			"SharePoint-Relative-Site-Url": {
				"type": "Compose",
				"inputs": "@last(\r\n\tsplit(\r\n\t\ttoLower(\r\n\t\t\toutputs('SharePoint-Site-Url')\r\n\t\t),\r\n\t\t'sharepoint.com'\r\n\t)\r\n)",
				"runAfter": {
					"SharePoint-Base-Url": [
						"Succeeded"
					]
				},
				"description": "Compose [DO NOT MODIFY]"
			},
			"🧙‍♂️-Magic-Stuff": {
				"type": "Scope",
				"actions": {
					"Retrieve-Document-Folder-Attributes": {
						"type": "Scope",
						"actions": {
							"Get-Folder-Attributes": {
								"type": "OpenApiConnection",
								"inputs": {
									"host": {
										"connectionName": "shared_sharepointonline_1",
										"operationId": "HttpRequest",
										"apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
									},
									"parameters": {
										"dataset": "@outputs('SharePoint-Site-Url')",
										"parameters/method": "POST",
										"parameters/uri": "_api/web/lists/getbytitle('@{outputs('Destination-Library')}')/RenderListDataAsStream",
										"parameters/body": "{\n    \"parameters\": {\n     \"RenderOptions\": 4103,\n     \"FolderServerRelativeUrl\": \"@{concat(\r\n\toutputs('SharePoint-Relative-Site-Url'),\r\n\t'/',\r\n\toutputs('Destination-Library'),\r\n\toutputs('Temporary-Processing-Folder-Path')\r\n)}\"\n    }\n}"
									},
									"authentication": "@parameters('$authentication')"
								},
								"runAfter": {},
								"description": "Send an HTTP request to SharePoint"
							},
							"Additional-Process-Attributes": {
								"type": "Compose",
								"inputs": {
									"driveAccessToken": "@outputs('Get-Folder-Attributes')?['body/listSchema/.driveAccessToken']",
									"mediaBaseUrl": "@outputs('Get-Folder-Attributes')?['body/listSchema/.mediaBaseUrl']",
									"callerStack": "@outputs('Get-Folder-Attributes')?['body/listSchema/.callerStack']",
									"folderContents": "@outputs('Get-Folder-Attributes')?['body/listData/row']"
								},
								"runAfter": {
									"Get-Folder-Attributes": [
										"Succeeded"
									]
								},
								"description": "Compose"
							},
							"Compose-Array-of-Folder-Items": {
								"type": "Select",
								"inputs": {
									"from": "@outputs('Additional-Process-Attributes')?['folderContents']",
									"select": {
										"name": "@item()?['FileLeafRef']",
										"size": "@if(\r\n\tequals(\r\n\t\titem()?['File_x0020_Size'],\r\n\t\t''\r\n\t),\r\n\t0, \r\n\tint(item()?['File_x0020_Size'])\r\n)",
										"docId": "@concat(\r\n\titem()?['.spItemUrl'],\r\n\t'&',\r\n\toutputs('Additional-Process-Attributes')?['driveAccessToken']\r\n)",
										"isFolder": "@empty(item()?['.fileType'])"
									}
								},
								"runAfter": {
									"Additional-Process-Attributes": [
										"Succeeded"
									]
								},
								"description": "Select"
							}
						},
						"runAfter": {
							"Create-Copy-of-Document-Template": [
								"Succeeded"
							]
						}
					},
					"If-Send-Document-To-Is-Not-Empty": {
						"type": "If",
						"expression": {
							"not": {
								"equals": [
									"@outputs('Send-Document-To')",
									"@null"
								]
							}
						},
						"actions": {},
						"runAfter": {
							"Generate-Document": [
								"Succeeded"
							]
						},
						"description": "Condition"
					},
					"Generate-Document": {
						"type": "Scope",
						"actions": {
							"Get-File-Attributes": {
								"type": "OpenApiConnection",
								"inputs": {
									"host": {
										"connectionName": "shared_sharepointonline_1",
										"operationId": "HttpRequest",
										"apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
									},
									"parameters": {
										"dataset": "@outputs('SharePoint-Site-Url')",
										"parameters/method": "POST",
										"parameters/uri": "_api/web/lists/getbytitle('@{outputs('Destination-Library')}')/RenderListDataAsStream?FilterField1=ID&FilterValue1=@{outputs('Upload-Zip-File-as-Office-Document')?['body/ItemId']}",
										"parameters/body": "{\n    \"parameters\": {\n     \"RenderOptions\": 4103,\n     \"FolderServerRelativeUrl\": \"@{concat(\r\n\toutputs('SharePoint-Relative-Site-Url'),\r\n\t'/',\r\n\toutputs('Destination-Library'),\r\n\t'/',\r\n\toutputs('Template-Type')\r\n)}\"\n    }\n}"
									},
									"authentication": "@parameters('$authentication')"
								},
								"runAfter": {
									"Upload-Zip-File-as-Office-Document": [
										"Succeeded"
									]
								},
								"description": "Send an HTTP request to SharePoint"
							},
							"Upload-File-as-PDF": {
								"type": "OpenApiConnection",
								"inputs": {
									"host": {
										"connectionName": "shared_sharepointonline_1",
										"operationId": "CreateFile",
										"apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
									},
									"parameters": {
										"dataset": "@outputs('SharePoint-Site-Url')",
										"folderPath": "@concat(\r\n\t'/',\r\n\toutputs('Destination-Library'),\r\n\t'/',\r\n\t'pdf'\r\n)",
										"name": "@concat(\r\n\tcoalesce(\r\n\t\toutputs('Output-File-Name'),\r\n\t\tworkflow()?['run/name']\r\n\t),\r\n\t'.',\r\n\t'pdf'\r\n)",
										"body": "@base64ToBinary(\r\n\toutputs('Convert-File-to-PDF-In-SharePoint')?['body']?['$content']\r\n)"
									},
									"authentication": "@parameters('$authentication')"
								},
								"runAfter": {
									"Convert-File-to-PDF-In-SharePoint": [
										"Succeeded"
									]
								},
								"description": "Create file",
								"runtimeConfiguration": {
									"contentTransfer": {
										"transferMode": "Chunked"
									}
								}
							},
							"Generate-Zip-File-In-SharePoint": {
								"type": "OpenApiConnection",
								"inputs": {
									"host": {
										"connectionName": "shared_sharepointonline_1",
										"operationId": "HttpRequest",
										"apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
									},
									"parameters": {
										"dataset": "@outputs('Additional-Process-Attributes')?['mediaBaseUrl']",
										"parameters/method": "POST",
										"parameters/uri": "/transform/zip?cs=@{outputs('Additional-Process-Attributes')?['callerStack']}",
										"parameters/headers": {
											"Content-Type": "application/x-www-form-urlencoded"
										},
										"parameters/body": "zipFileName=@{workflow()?['run/name']}.zip&guid=@{workflow()?['run/name']}&provider=spo&oAuthToken=&files=@{encodeUriComponent(\r\n\tconcat(\r\n\t\t'{\"items\":',\r\n\t\tconcat(\r\n\t\t\tbody('Compose-Array-of-Folder-Items'),\r\n\t\t\t''\r\n\t\t), \r\n\t\t'}'\r\n\t)\r\n)}"
									},
									"authentication": "@parameters('$authentication')"
								},
								"runAfter": {},
								"description": "Send an HTTP Request to SharePoint"
							},
							"Convert-File-to-PDF-In-SharePoint": {
								"type": "OpenApiConnection",
								"inputs": {
									"host": {
										"connectionName": "shared_sharepointonline_1",
										"operationId": "HttpRequest",
										"apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
									},
									"parameters": {
										"dataset": "@outputs('Additional-Process-Attributes')?['mediaBaseUrl']",
										"parameters/method": "GET",
										"parameters/uri": "/transform/pdf?provider=spo&inputFormat=@{outputs('Template-Type')}&cs=@{outputs('Additional-Process-Attributes')?['callerStack']}&docid=@{first(outputs('Get-File-Attributes')?['body/listData/row'])?['.spItemUrl']}&@{outputs('Additional-Process-Attributes')?['driveAccessToken']}"
									},
									"authentication": "@parameters('$authentication')"
								},
								"runAfter": {
									"Get-File-Attributes": [
										"Succeeded"
									]
								},
								"description": "Send an HTTP Request to SharePoint"
							},
							"Get-Sharing-Link-for-Office-Document": {
								"type": "OpenApiConnection",
								"inputs": {
									"host": {
										"connectionName": "shared_sharepointonline_1",
										"operationId": "CreateSharingLink",
										"apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
									},
									"parameters": {
										"dataset": "@outputs('SharePoint-Site-Url')",
										"table": "@outputs('Destination-Library')",
										"id": "@outputs('Upload-Zip-File-as-Office-Document')?['body/ItemId']",
										"permission/type": "view",
										"permission/scope": "organization"
									},
									"authentication": "@parameters('$authentication')"
								},
								"runAfter": {
									"Upload-File-as-PDF": [
										"Succeeded"
									]
								},
								"description": "Create sharing link for a file or folder"
							},
							"Get-Sharing-Link-for-PDF-Document": {
								"type": "OpenApiConnection",
								"inputs": {
									"host": {
										"connectionName": "shared_sharepointonline_1",
										"operationId": "CreateSharingLink",
										"apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
									},
									"parameters": {
										"dataset": "@outputs('SharePoint-Site-Url')",
										"table": "@outputs('Destination-Library')",
										"id": "@outputs('Upload-File-as-PDF')?['body/ItemId']",
										"permission/type": "view",
										"permission/scope": "organization"
									},
									"authentication": "@parameters('$authentication')"
								},
								"runAfter": {
									"Upload-File-as-PDF": [
										"Succeeded"
									]
								},
								"description": "Create sharing link for a file or folder"
							},
							"Upload-Zip-File-as-Office-Document": {
								"type": "OpenApiConnection",
								"inputs": {
									"host": {
										"connectionName": "shared_sharepointonline_1",
										"operationId": "CreateFile",
										"apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
									},
									"parameters": {
										"dataset": "@outputs('SharePoint-Site-Url')",
										"folderPath": "@concat(\r\n\t'/',\r\n\toutputs('Destination-Library'),\r\n\t'/',\r\n\toutputs('Template-Type')\r\n)",
										"name": "@concat(\r\n\tcoalesce(\r\n\t\toutputs('Output-File-Name'),\r\n\t\tworkflow()?['run/name']\r\n\t),\r\n\t'.',\r\n\toutputs('Template-Type')\r\n)",
										"body": "@base64ToBinary(\r\n\toutputs('Generate-Zip-File-In-SharePoint')?['body']?['$content']\r\n)"
									},
									"authentication": "@parameters('$authentication')"
								},
								"runAfter": {
									"Generate-Zip-File-In-SharePoint": [
										"Succeeded"
									]
								},
								"description": "Create file",
								"runtimeConfiguration": {
									"contentTransfer": {
										"transferMode": "Chunked"
									}
								}
							}
						},
						"runAfter": {
							"Retrieve-Document-Folder-Attributes": [
								"Succeeded"
							],
							"Update-Document-Text": [
								"Succeeded"
							],
							"Update-Document-Images": [
								"Succeeded"
							]
						}
					},
					"Update-Document-Text": {
						"type": "Scope",
						"actions": {
							"Split-Text-On-Delimiter": {
								"type": "Compose",
								"inputs": "@split(\r\n\toutputs('Template-XML-String'),\r\n\toutputs('Placeholder-Delimiter')\r\n)",
								"runAfter": {
									"Template-XML-String": [
										"Succeeded"
									]
								}
							},
							"Apply-to-Each-Split": {
								"type": "Foreach",
								"foreach": "@outputs('Split-Text-On-Delimiter')",
								"actions": {
									"Match-Current-Split-to-Placeholder": {
										"type": "Query",
										"inputs": {
											"from": "@json(\r\n\toutputs('Replacement-Table-String')\r\n)",
											"where": "@equals(item()?['Key'], items('Apply-to-Each-Split'))"
										},
										"runAfter": {
											"DEV-Current-Item": [
												"Succeeded"
											]
										},
										"description": "Filter"
									},
									"Split-Decision": {
										"type": "Compose",
										"inputs": "@if(\r\n\tempty(\r\n\t\tbody('Match-Current-Split-to-Placeholder')\r\n\t),\r\n\titem(),\r\n\tif(\r\n\t\tand(\r\n\t\t\tstartsWith(coalesce(first(body('Match-Current-Split-to-Placeholder'))?['Value'], ''), '['),\r\n\t\t\tendsWith(coalesce(first(body('Match-Current-Split-to-Placeholder'))?['Value'], ''), ']')\r\n\t\t),\r\n\t\tfirst(body('Retrieve-Table-From-Repeating-Tables'))?['Value'],\r\n\t\treplace(\r\n\t\turiComponentToString(\r\n\t\t\treplace(\r\n\t\t\t\turiComponent(\r\n\t\t\t\t\tfirst(body('Match-Current-Split-to-Placeholder'))['Value']\r\n\t\t\t\t),\r\n\t\t\t\t'%0A',\r\n\t\t\t\tif(\r\n\t\t\t\t\tequals(\r\n\t\t\t\t\t\toutputs('Template-Type'),\r\n\t\t\t\t\t\t'pptx'\r\n\t\t\t\t\t),\r\n\t\t\t\t\t'</a:t></a:r></a:p><a:p><a:r><a:t>',\r\n\t\t\t\t\t'</w:t></w:r></w:p><w:p><w:r><w:t>'\r\n\t\t\t\t)\r\n\t\t\t)\r\n\t\t),\r\n\t\t'&',\r\n\t\t'&amp;'\r\n\t\t)\r\n\t)\r\n)",
										"runAfter": {
											"Is-This-A-Repeating-Table": [
												"Succeeded"
											]
										},
										"description": "Compose"
									},
									"DEV-Current-Item": {
										"type": "Compose",
										"inputs": "@item()",
										"runAfter": {},
										"description": "Compose"
									},
									"Is-This-A-Repeating-Table": {
										"type": "If",
										"expression": {
											"equals": [
												"@and(\r\n\tstartsWith(coalesce(first(body('Match-Current-Split-to-Placeholder'))?['Value'], ''), '['),\r\n\tendsWith(coalesce(first(body('Match-Current-Split-to-Placeholder'))?['Value'], ''), ']')\r\n)",
												"@true"
											]
										},
										"actions": {
											"Retrieve-Table-From-Repeating-Tables": {
												"type": "Query",
												"inputs": {
													"from": "@outputs('Repeating-Tables-With-Keys')",
													"where": "@equals(item()?['Key'], items('Apply-to-Each-Split'))"
												},
												"runAfter": {},
												"description": "Filter"
											}
										},
										"runAfter": {
											"Match-Current-Split-to-Placeholder": [
												"Succeeded"
											]
										},
										"description": "Condition"
									}
								},
								"runAfter": {
									"Split-Text-On-Delimiter": [
										"Succeeded"
									]
								},
								"description": "Apply to each",
								"runtimeConfiguration": {
									"concurrency": {
										"repetitions": 50
									}
								}
							},
							"Updated-XML-String": {
								"type": "Compose",
								"inputs": "@join(\r\n\toutputs('Split-Decision'),\r\n\t''\r\n)",
								"runAfter": {
									"Apply-to-Each-Split": [
										"Succeeded"
									]
								}
							},
							"Template-XML-String": {
								"type": "Compose",
								"inputs": "@coalesce(\r\n\tbody('Get-Word-Template-XML-String'),\r\n\toutputs('Joined-PowerPoint-Slide-XML-String'),\r\n\toutputs('Joined-Excel-Worksheet-XML-String')\r\n)",
								"runAfter": {
									"Switch-On-Template-Type-To-Retrieve-XML-String": [
										"Succeeded"
									]
								}
							},
							"Switch-On-Template-Type-To-Replace-XML-String": {
								"type": "Switch",
								"expression": "@outputs('Template-Type')",
								"cases": {
									"Word_Template": {
										"case": "docx",
										"actions": {
											"Update-Word-Document-XML": {
												"type": "OpenApiConnection",
												"inputs": {
													"host": {
														"connectionName": "shared_sharepointonline_1",
														"operationId": "CreateFile",
														"apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
													},
													"parameters": {
														"dataset": "@outputs('SharePoint-Site-Url')",
														"folderPath": "@concat(\r\n\t'/',\r\n\toutputs('Destination-Library'),\r\n\toutputs('Temporary-Processing-Folder-Path'),\r\n\t'/word/'\r\n)\r\n",
														"name": "document.xml",
														"body": "@outputs('Updated-XML-String')"
													},
													"authentication": "@parameters('$authentication')"
												},
												"runAfter": {},
												"description": "Create file",
												"runtimeConfiguration": {
													"contentTransfer": {
														"transferMode": "Chunked"
													}
												}
											}
										}
									},
									"PowerPoint_Template": {
										"case": "pptx",
										"actions": {
											"Split-Joined-XML-String-Back-Into-Slides": {
												"type": "Compose",
												"inputs": "@split(outputs('Updated-XML-String'), '~~~~~')",
												"runAfter": {},
												"description": "Compose"
											},
											"Apply-to-Each-Split-Slide-XML": {
												"type": "Foreach",
												"foreach": "@outputs('Split-Joined-XML-String-Back-Into-Slides')",
												"actions": {
													"DEV-Current-Slide-XML": {
														"type": "Compose",
														"inputs": "@last(split(item(), '#####'))",
														"runAfter": {}
													},
													"Update-PowerPoint-Slide-XML": {
														"type": "OpenApiConnection",
														"inputs": {
															"host": {
																"connectionName": "shared_sharepointonline_1",
																"operationId": "CreateFile",
																"apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
															},
															"parameters": {
																"dataset": "@outputs('SharePoint-Site-Url')",
																"folderPath": "@concat(\r\n\t'/',\r\n\toutputs('Destination-Library'),\r\n\toutputs('Temporary-Processing-Folder-Path'),\r\n\t'/ppt/slides/'\r\n)\r\n",
																"name": "@trim(\r\n\tconcat(\r\n\t\t'slide',\r\n\t\tfirst(\r\n\t\t\tsplit(\r\n\t\t\t\titem(),\r\n\t\t\t\t'#####'\r\n\t\t\t)\r\n\t\t),\r\n\t\t'.xml'\r\n\t)\r\n)",
																"body": "@last(\r\n\tsplit(\r\n\t\titem(),\r\n\t\t'#####'\r\n\t)\r\n)"
															},
															"authentication": "@parameters('$authentication')"
														},
														"runAfter": {
															"DEV-Current-Slide-XML": [
																"Succeeded"
															]
														},
														"description": "Create file",
														"runtimeConfiguration": {
															"contentTransfer": {
																"transferMode": "Chunked"
															}
														}
													}
												},
												"runAfter": {
													"Split-Joined-XML-String-Back-Into-Slides": [
														"Succeeded"
													]
												},
												"runtimeConfiguration": {
													"concurrency": {
														"repetitions": 20
													}
												}
											}
										}
									},
									"Excel_Template": {
										"case": "xlsx",
										"actions": {
											"Apply-to-Each-Split-Worksheet-XML": {
												"type": "Foreach",
												"foreach": "@outputs('Split-Joined-XML-String-Back-Into-Worksheets')",
												"actions": {
													"DEV-Current-Worksheet-XML": {
														"type": "Compose",
														"inputs": "@last(split(item(), '#####'))",
														"runAfter": {}
													},
													"Update-PowerPoint-Worksheet-XML": {
														"type": "OpenApiConnection",
														"inputs": {
															"host": {
																"connectionName": "shared_sharepointonline_1",
																"operationId": "CreateFile",
																"apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
															},
															"parameters": {
																"dataset": "@outputs('SharePoint-Site-Url')",
																"folderPath": "@concat(\r\n\t'/',\r\n\toutputs('Destination-Library'),\r\n\toutputs('Temporary-Processing-Folder-Path'),\r\n\t'/xl/worksheets/'\r\n)\r\n",
																"name": "@trim(\r\n\tconcat(\r\n\t\t'sheet',\r\n\t\tfirst(\r\n\t\t\tsplit(\r\n\t\t\t\titem(),\r\n\t\t\t\t'#####'\r\n\t\t\t)\r\n\t\t),\r\n\t\t'.xml'\r\n\t)\r\n)",
																"body": "@last(\r\n\tsplit(\r\n\t\titem(),\r\n\t\t'#####'\r\n\t)\r\n)"
															},
															"authentication": "@parameters('$authentication')"
														},
														"runAfter": {
															"DEV-Current-Worksheet-XML": [
																"Succeeded"
															]
														},
														"description": "Create file",
														"runtimeConfiguration": {
															"contentTransfer": {
																"transferMode": "Chunked"
															}
														}
													}
												},
												"runAfter": {
													"Split-Joined-XML-String-Back-Into-Worksheets": [
														"Succeeded"
													]
												},
												"runtimeConfiguration": {
													"concurrency": {
														"repetitions": 20
													}
												}
											},
											"Split-Joined-XML-String-Back-Into-Worksheets": {
												"type": "Compose",
												"inputs": "@split(outputs('Updated-XML-String'), '~~~~~')",
												"runAfter": {},
												"description": "Compose"
											}
										}
									}
								},
								"default": {
									"actions": {}
								},
								"runAfter": {
									"Updated-XML-String": [
										"Succeeded"
									]
								}
							},
							"Switch-On-Template-Type-To-Retrieve-XML-String": {
								"type": "Switch",
								"expression": "@outputs('Template-Type')",
								"cases": {
									"Word_Template": {
										"case": "docx",
										"actions": {
											"Get-Word-Template-XML-String": {
												"type": "OpenApiConnection",
												"inputs": {
													"host": {
														"connectionName": "shared_sharepointonline_1",
														"operationId": "GetFileContentByPath",
														"apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
													},
													"parameters": {
														"dataset": "@outputs('SharePoint-Site-Url')",
														"path": "@concat(\r\n\t'/',\r\n\toutputs('Destination-Library'),\r\n\toutputs('Temporary-Processing-Folder-Path'),\r\n\t'/',\r\n\t'word/document.xml'\r\n)",
														"inferContentType": true
													},
													"authentication": "@parameters('$authentication')"
												},
												"runAfter": {},
												"description": "Get file content using path"
											}
										}
									},
									"PowerPoint_Template": {
										"case": "pptx",
										"actions": {
											"Joined-PowerPoint-Slide-XML-String": {
												"type": "Compose",
												"inputs": "@join(outputs('Slide-XML-Content-With-Slide-Number'), '~~~~~')",
												"runAfter": {
													"Apply-to-Each-Slide-XML-File": [
														"Succeeded"
													]
												},
												"description": "Compose"
											},
											"Apply-to-Each-Slide-XML-File": {
												"type": "Foreach",
												"foreach": "@body('Add-Slide-Number-to-Array')",
												"actions": {
													"DEV-Current-Slide-Item": {
														"type": "Compose",
														"inputs": "@item()",
														"runAfter": {},
														"description": "Compose"
													},
													"Get-PowerPoint-Template-Slide-XML-String": {
														"type": "OpenApiConnection",
														"inputs": {
															"host": {
																"connectionName": "shared_sharepointonline_1",
																"operationId": "GetFileContentByPath",
																"apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
															},
															"parameters": {
																"dataset": "@outputs('SharePoint-Site-Url')",
																"path": "@concat(\r\n\t'/',\r\n\toutputs('Destination-Library'),\r\n\toutputs('Temporary-Processing-Folder-Path'),\r\n\t'/',\r\n\t'ppt/slides/slide',\r\n\titem()?['SlideNumber'],\r\n\t'.xml'\r\n)",
																"inferContentType": true
															},
															"authentication": "@parameters('$authentication')"
														},
														"runAfter": {
															"DEV-Current-Slide-Item": [
																"Succeeded"
															]
														},
														"description": "Get file content using path"
													},
													"Slide-XML-Content-With-Slide-Number": {
														"type": "Compose",
														"inputs": "@{item()?['SlideNumber']}#####@{outputs('Get-PowerPoint-Template-Slide-XML-String')?['body']}\n",
														"runAfter": {
															"Get-PowerPoint-Template-Slide-XML-String": [
																"Succeeded"
															]
														},
														"description": "Compose"
													}
												},
												"runAfter": {
													"Add-Slide-Number-to-Array": [
														"Succeeded"
													]
												},
												"description": "Apply to each",
												"runtimeConfiguration": {
													"concurrency": {
														"repetitions": 20
													}
												}
											},
											"Add-Slide-Number-to-Array": {
												"type": "Select",
												"inputs": {
													"from": "@body('Filter-For-Slide-XML-Files-Only')",
													"select": {
														"SlideNumber": "@replace(replace(item()?['Name'], 'slide', ''), '.xml', '')",
														"Name": "@item()?['Name']"
													}
												},
												"runAfter": {
													"Filter-For-Slide-XML-Files-Only": [
														"Succeeded"
													]
												}
											},
											"Filter-For-Slide-XML-Files-Only": {
												"type": "Query",
												"inputs": {
													"from": "@outputs('Get-All-Slide-XML-Files-From-Folder')?['body']",
													"where": "@contains(toLower(item()?['Name']), 'slide')"
												},
												"runAfter": {
													"Get-All-Slide-XML-Files-From-Folder": [
														"Succeeded"
													]
												},
												"description": "Filter array"
											},
											"Get-All-Slide-XML-Files-From-Folder": {
												"type": "OpenApiConnection",
												"inputs": {
													"host": {
														"connectionName": "shared_sharepointonline_1",
														"operationId": "ListFolder",
														"apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
													},
													"parameters": {
														"dataset": "@outputs('SharePoint-Site-Url')",
														"id": "@encodeUriComponent(\r\n\tconcat(\r\n\t\t'/',\r\n\t\toutputs('Destination-Library'),\r\n\t\toutputs('Temporary-Processing-Folder-Path'),\r\n\t\t'/',\r\n\t\t'ppt/slides'\r\n\t)\r\n)"
													},
													"authentication": "@parameters('$authentication')"
												},
												"runAfter": {},
												"description": "List folder"
											}
										}
									},
									"Excel_Template": {
										"case": "xlsx",
										"actions": {
											"Joined-Excel-Worksheet-XML-String": {
												"type": "Compose",
												"inputs": "@join(outputs('Worksheet-XML-Content-With-Worksheet-Number'), '~~~~~')",
												"runAfter": {
													"Apply-to-Each-Worksheet-XML-File": [
														"Succeeded"
													]
												},
												"description": "Compose"
											},
											"Apply-to-Each-Worksheet-XML-File": {
												"type": "Foreach",
												"foreach": "@body('Add-Worksheet-Number-to-Array')",
												"actions": {
													"DEV-Current-Worksheet-Item": {
														"type": "Compose",
														"inputs": "@item()",
														"runAfter": {},
														"description": "Compose"
													},
													"Get-Excel-Template-Worksheet-XML-String": {
														"type": "OpenApiConnection",
														"inputs": {
															"host": {
																"connectionName": "shared_sharepointonline_1",
																"operationId": "GetFileContentByPath",
																"apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
															},
															"parameters": {
																"dataset": "@outputs('SharePoint-Site-Url')",
																"path": "@concat(\r\n\t'/',\r\n\toutputs('Destination-Library'),\r\n\toutputs('Temporary-Processing-Folder-Path'),\r\n\t'/',\r\n\t'xl/worksheets/sheet',\r\n\titem()?['SheetNumber'],\r\n\t'.xml'\r\n)",
																"inferContentType": true
															},
															"authentication": "@parameters('$authentication')"
														},
														"runAfter": {
															"DEV-Current-Worksheet-Item": [
																"Succeeded"
															]
														},
														"description": "Get file content using path"
													},
													"Worksheet-XML-Content-With-Worksheet-Number": {
														"type": "Compose",
														"inputs": "@{items('Apply-to-Each-Worksheet-XML-File')?['SheetNumber']}#####@{outputs('Get-Excel-Template-Worksheet-XML-String')?['body']}\n",
														"runAfter": {
															"Get-Excel-Template-Worksheet-XML-String": [
																"Succeeded"
															]
														},
														"description": "Compose"
													}
												},
												"runAfter": {
													"Add-Worksheet-Number-to-Array": [
														"Succeeded"
													]
												},
												"description": "Apply to each",
												"runtimeConfiguration": {
													"concurrency": {
														"repetitions": 20
													}
												}
											},
											"Add-Worksheet-Number-to-Array": {
												"type": "Select",
												"inputs": {
													"from": "@body('Filter-For-Worksheet-XML-Files-Only')",
													"select": {
														"WorksheetNumber": "@replace(replace(item()?['Name'], 'sheet', ''), '.xml', '')",
														"Name": "@item()?['Name']"
													}
												},
												"runAfter": {
													"Filter-For-Worksheet-XML-Files-Only": [
														"Succeeded"
													]
												}
											},
											"Filter-For-Worksheet-XML-Files-Only": {
												"type": "Query",
												"inputs": {
													"from": "@outputs('Get-All-Worksheet-XML-Files-From-Folder')?['body']",
													"where": "@contains(toLower(item()?['Name']), 'sheet')"
												},
												"runAfter": {
													"Get-All-Worksheet-XML-Files-From-Folder": [
														"Succeeded"
													]
												},
												"description": "Filter array"
											},
											"Terminate-Not-Supported": {
												"type": "Terminate",
												"inputs": {
													"runStatus": "Cancelled"
												},
												"runAfter": {}
											},
											"Get-All-Worksheet-XML-Files-From-Folder": {
												"type": "OpenApiConnection",
												"inputs": {
													"host": {
														"connectionName": "shared_sharepointonline_1",
														"operationId": "ListFolder",
														"apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
													},
													"parameters": {
														"dataset": "@outputs('SharePoint-Site-Url')",
														"id": "@encodeUriComponent(\r\n\tconcat(\r\n\t\t'/',\r\n\t\toutputs('Destination-Library'),\r\n\t\toutputs('Temporary-Processing-Folder-Path'),\r\n\t\t'/',\r\n\t\t'xl/worksheets'\r\n\t)\r\n)"
													},
													"authentication": "@parameters('$authentication')"
												},
												"runAfter": {
													"Terminate-Not-Supported": [
														"Succeeded"
													]
												},
												"description": "List folder"
											}
										}
									}
								},
								"default": {
									"actions": {
										"Terminate-Do-To-Invalid-Template-Type": {
											"description": "Terminate",
											"type": "Terminate",
											"inputs": {
												"runStatus": "Cancelled"
											},
											"runAfter": {}
										}
									}
								},
								"runAfter": {},
								"description": "Switch"
							}
						},
						"runAfter": {
							"Create-Copy-of-Document-Template": [
								"Succeeded"
							]
						}
					},
					"Create-Copy-of-Document-Template": {
						"type": "OpenApiConnection",
						"inputs": {
							"host": {
								"connectionName": "shared_sharepointonline_1",
								"operationId": "ExtractFolderV2",
								"apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
							},
							"parameters": {
								"dataset": "@outputs('SharePoint-Site-Url')",
								"source": "@concat(\r\n\t'/',\r\n\toutputs('Template-Library'),\r\n\t'/',\r\n\toutputs('Template-File-Name')\r\n)",
								"destination": "@concat(\r\n\t'/',\r\n\toutputs('Destination-Library'),\r\n\toutputs('Temporary-Processing-Folder-Path')\r\n)",
								"overwrite": true
							},
							"authentication": "@parameters('$authentication')"
						},
						"runAfter": {},
						"operationOptions": "DisableAsyncPattern",
						"description": "Extract folder"
					},
					"Update-Document-Images": {
						"type": "Scope",
						"actions": {
							"Apply-to-Each-Image-Replacement": {
								"type": "Foreach",
								"foreach": "@coalesce(json(outputs('Image-Replacement-String')), range(0, 0))",
								"actions": {
									"DEV-Current-Image": {
										"type": "Compose",
										"inputs": "@item()",
										"runAfter": {},
										"description": "Compose"
									},
									"Switch-On-Template-Type-To-Replace-Images": {
										"type": "Switch",
										"expression": "@outputs('Template-Type')",
										"cases": {
											"Word_Template": {
												"case": "docx",
												"actions": {
													"Update-Word-Media-File": {
														"type": "OpenApiConnection",
														"inputs": {
															"host": {
																"connectionName": "shared_sharepointonline_1",
																"operationId": "CreateFile",
																"apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
															},
															"parameters": {
																"dataset": "@outputs('SharePoint-Site-Url')",
																"folderPath": "@concat(\r\n\t'/',\r\n\toutputs('Destination-Library'),\r\n\toutputs('Temporary-Processing-Folder-Path'),\r\n\t'/word/media/'\r\n)",
																"name": "@item()?['Filename']",
																"body": "@base64ToBinary(last(split(item()?['Content'], ',')))"
															},
															"authentication": "@parameters('$authentication')"
														},
														"runAfter": {},
														"description": "Create file",
														"runtimeConfiguration": {
															"contentTransfer": {
																"transferMode": "Chunked"
															}
														}
													}
												}
											},
											"PowerPoint_Template": {
												"case": "pptx",
												"actions": {
													"Update-PowerPoint-Media-File": {
														"type": "OpenApiConnection",
														"inputs": {
															"host": {
																"connectionName": "shared_sharepointonline_1",
																"operationId": "CreateFile",
																"apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
															},
															"parameters": {
																"dataset": "@outputs('SharePoint-Site-Url')",
																"folderPath": "@concat(\r\n\t'/',\r\n\toutputs('Destination-Library'),\r\n\toutputs('Temporary-Processing-Folder-Path'),\r\n\t'/ppt/media/'\r\n)",
																"name": "@item()?['Filename']",
																"body": "@outputs('File-Content')"
															},
															"authentication": "@parameters('$authentication')"
														},
														"runAfter": {},
														"description": "Create file",
														"runtimeConfiguration": {
															"contentTransfer": {
																"transferMode": "Chunked"
															}
														}
													}
												}
											},
											"Excel_Template": {
												"case": "xlsx",
												"actions": {
													"Update-Excel-Media-File": {
														"type": "OpenApiConnection",
														"inputs": {
															"host": {
																"connectionName": "shared_sharepointonline_1",
																"operationId": "CreateFile",
																"apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
															},
															"parameters": {
																"dataset": "@outputs('SharePoint-Site-Url')",
																"folderPath": "@concat(\r\n\t'/',\r\n\toutputs('Destination-Library'),\r\n\toutputs('Temporary-Processing-Folder-Path'),\r\n\t'/xl/media/'\r\n)",
																"name": "@item()?['Filename']",
																"body": "@base64ToBinary(last(split(item()?['Content'], ',')))"
															},
															"authentication": "@parameters('$authentication')"
														},
														"runAfter": {},
														"description": "Create file",
														"runtimeConfiguration": {
															"contentTransfer": {
																"transferMode": "Chunked"
															}
														}
													}
												}
											}
										},
										"default": {
											"actions": {}
										},
										"runAfter": {
											"File-Content": [
												"Succeeded"
											]
										}
									},
									"File-Content": {
										"type": "Compose",
										"inputs": "@coalesce(\r\n\toutputs('Get-Image-Content-From-SharePoint')?['body'],\r\n\tbase64ToBinary(\r\n\t\tlast(\r\n\t\t\tsplit(\r\n\t\t\t\titem()?['Content'],\r\n\t\t\t\t','\r\n\t\t\t)\r\n\t\t)\r\n\t)\r\n)",
										"runAfter": {
											"Was-An-Image-Url-Provided": [
												"Succeeded"
											]
										},
										"description": "Compose"
									},
									"Was-An-Image-Url-Provided": {
										"type": "If",
										"expression": {
											"not": {
												"equals": [
													"@item()?['Url']",
													"@null"
												]
											}
										},
										"actions": {
											"Get-Image-Content-From-SharePoint": {
												"type": "OpenApiConnection",
												"inputs": {
													"host": {
														"connectionName": "shared_sharepointonline",
														"operationId": "GetFileContentByPath",
														"apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
													},
													"parameters": {
														"dataset": "@join(\r\n\ttake(\r\n\t\tsplit(\r\n\t\t\titem()?['Url'],\r\n\t\t\t'/'\r\n\t\t),\r\n\t\t5),\r\n\t'/'\r\n)",
														"path": "@replace(\r\n\titem()?['Url'],\r\n\tjoin(\r\n\t\ttake(\r\n\t\t\tsplit(\r\n\t\t\t\titem()?['Url'],\r\n\t\t\t\t'/'\r\n\t\t\t),\r\n\t\t\t5),\r\n\t\t'/'\r\n\t),\r\n\t''\r\n)",
														"inferContentType": true
													},
													"authentication": "@parameters('$authentication')"
												},
												"runAfter": {},
												"description": "Get file content using path"
											}
										},
										"runAfter": {
											"DEV-Current-Image": [
												"Succeeded"
											]
										},
										"description": "Condition"
									}
								},
								"runAfter": {},
								"description": "Apply to each",
								"runtimeConfiguration": {
									"concurrency": {
										"repetitions": 50
									}
								}
							}
						},
						"runAfter": {
							"Create-Copy-of-Document-Template": [
								"Succeeded"
							]
						}
					}
				},
				"runAfter": {
					"Temporary-Processing-Folder-Path": [
						"Succeeded"
					],
					"Does-Replacement-Table-Contain-Repeating-Tables": [
						"Succeeded"
					]
				},
				"description": "Scope"
			},
			"Inputs-You-Provide": {
				"type": "Scope",
				"actions": {
					"Usage-Instructions": {
						"type": "Compose",
						"inputs": "Provide Inputs For The Following Actions\n> Site-Url\n> Template-Library\n> Template-File-Name\n> Placeholder-Delimiter\n> Destination-Library\n> Output-File-Name\n> Replacement-Table-String\n> Send-Document-To\n> Image-Replacement-String",
						"runAfter": {}
					},
					"Placeholder-Delimiter": {
						"type": "Compose",
						"inputs": "@triggerBody()['text_5']",
						"runAfter": {
							"Replacement-Table-String": [
								"Succeeded"
							]
						},
						"description": "Compose"
					},
					"SharePoint-Site-Url": {
						"type": "Compose",
						"inputs": "@triggerBody()['text']",
						"runAfter": {
							"Usage-Instructions": [
								"Succeeded"
							]
						},
						"description": "Compose"
					},
					"Template-Library": {
						"type": "Compose",
						"inputs": "@triggerBody()['text_1']",
						"runAfter": {
							"SharePoint-Site-Url": [
								"Succeeded"
							]
						},
						"description": "Compose"
					},
					"Replacement-Table-String": {
						"type": "Compose",
						"inputs": "@triggerBody()['text_6']",
						"runAfter": {
							"Usage-Instructions": [
								"Succeeded"
							]
						},
						"description": "Compose"
					},
					"Output-File-Name": {
						"type": "Compose",
						"inputs": "@triggerBody()?['text_4']",
						"runAfter": {
							"Destination-Library": [
								"Succeeded"
							]
						},
						"description": "Compose"
					},
					"Template-File-Name": {
						"type": "Compose",
						"inputs": "@triggerBody()['text_3']",
						"runAfter": {
							"Template-Library": [
								"Succeeded"
							]
						},
						"description": "Compose"
					},
					"Destination-Library": {
						"type": "Compose",
						"inputs": "@triggerBody()['text_2']",
						"runAfter": {
							"Usage-Instructions": [
								"Succeeded"
							]
						},
						"description": "Compose"
					},
					"Send-Document-To": {
						"type": "Compose",
						"inputs": "@null",
						"runAfter": {
							"Output-File-Name": [
								"Succeeded"
							]
						}
					},
					"Image-Replacement-String": {
						"type": "Compose",
						"inputs": "@triggerBody()['text_8']",
						"runAfter": {
							"Placeholder-Delimiter": [
								"Succeeded"
							]
						}
					}
				},
				"runAfter": {},
				"description": "'Please' and 'Thank you!'"
			},
			"Filter-Replacement-Table-JSON-for-Repeating-Tables": {
				"type": "Query",
				"inputs": {
					"from": "@json(\r\n\toutputs('Replacement-Table-String')\r\n)",
					"where": "@equals(and(startsWith(coalesce(item()?['Value'], ''), '[{'), endsWith(coalesce(item()?['Value'], ''), '}]')), true)"
				},
				"runAfter": {
					"Template-Type": [
						"Succeeded"
					]
				},
				"description": "Filter"
			},
			"Template-Type": {
				"type": "Compose",
				"inputs": "@toLower(last(split(triggerBody()['text_3'], '.')))",
				"runAfter": {
					"Inputs-You-Provide": [
						"Succeeded"
					]
				},
				"description": "Compose [DO NOT MODIFY]"
			},
			"Temporary-Processing-Folder-Path": {
				"type": "Compose",
				"inputs": "@concat(\r\n\t'/_tmp/',\r\n\tworkflow()?['name'],\r\n\t'_',\r\n\tworkflow()?['run/name']\r\n)",
				"runAfter": {
					"SharePoint-Relative-Site-Url": [
						"Succeeded"
					]
				},
				"description": "Compose [DO NOT MODIFY]"
			},
			"Does-Replacement-Table-Contain-Repeating-Tables": {
				"type": "If",
				"expression": {
					"equals": [
						"@empty(body('Filter-Replacement-Table-JSON-for-Repeating-Tables'))",
						"@false"
					]
				},
				"actions": {
					"Process-Repeating-Tables": {
						"type": "Scope",
						"actions": {
							"Repeating-Tables-With-Keys": {
								"type": "Compose",
								"inputs": "@outputs('Item-Rows-With-Key')",
								"runAfter": {
									"Apply-to-Each-Table": [
										"Succeeded"
									]
								},
								"description": "Compose"
							},
							"Apply-to-Each-Table": {
								"type": "Foreach",
								"foreach": "@body('Filter-Replacement-Table-JSON-for-Repeating-Tables')",
								"actions": {
									"DEV-Current-Row-Item": {
										"type": "Compose",
										"inputs": "@item()",
										"runAfter": {},
										"description": "Compose"
									},
									"Format-Table-Headers": {
										"type": "Scope",
										"actions": {
											"Resolve-Header-Values_3": {
												"type": "Select",
												"inputs": {
													"from": "@xpath(xml(json(concat('{ \"root\": ', string(first(json(item()?['Value']))), ' }'))), '/root/*')",
													"select": "@xpath(item(), 'name(/*)')"
												},
												"runAfter": {},
												"description": "Select"
											},
											"Compose-Header-Cells_3": {
												"type": "Select",
												"inputs": {
													"from": "@body('Resolve-Header-Values_3')",
													"select": "@concat('<w:tc>\r\n\t\t<w:tcPr>\r\n\t\t\t<w:tcW w:w=\"4675\"\r\n     \t\t\tw:type=\"dxa\"/>\r\n\t\t\t<w:shd w:val=\"clear\"\r\n     \t\tw:color=\"auto\"\r\n     \t\tw:fill=\"E7E6E6\"\r\n     \t\tw:themeFill=\"background2\"/>\r\n\t\t\t<w:vAlign w:val=\"bottom\"/>\r\n\t\t</w:tcPr>\r\n\t\t<w:p w14:paraId=\"4619B71D\"\r\n   \t\t\tw14:textId=\"6DE2C273\"\r\n   \t\t\tw:rsidR=\"00D453CC\"\r\n   \t\t\tw:rsidRDefault=\"00D453CC\">\r\n\t\t\t<w:pPr>\r\n\t\t\t</w:pPr>\r\n\t\t\t<w:r>\r\n\t\t\t\t<w:rPr>\r\n\t\t\t\t\t<w:b/>\r\n\t\t\t\t\t<w:bCs/>\r\n\t\t\t\t</w:rPr>\r\n\t\t\t\t<w:t>', replace(item(), '_x0020_', ' '), '</w:t>\r\n\t</w:r>\r\n\t</w:p>\r\n\t</w:tc>')"
												},
												"runAfter": {
													"Resolve-Header-Values_3": [
														"Succeeded"
													]
												},
												"description": "Select"
											},
											"Wrap-Header-Cells-In-Row_3": {
												"type": "Compose",
												"inputs": "<w:tr>\n    @{join(body('Compose-Header-Cells_3'), '')}\n</w:tr>",
												"runAfter": {
													"Compose-Header-Cells_3": [
														"Succeeded"
													]
												}
											}
										},
										"runAfter": {
											"DEV-Current-Row-Item": [
												"Succeeded"
											]
										},
										"description": "Scope"
									},
									"Format-Table-Rows": {
										"type": "Scope",
										"actions": {
											"Resolve-And-Compose-Table-Cell-Values-And-Rows": {
												"type": "Select",
												"inputs": {
													"from": "@xpath(\r\n\t\txml(\r\n\t\t\tjson(\r\n\t\t\t\tconcat(\r\n\t\t\t\t\t'{ \"root\": ',\r\n\t\t\t\t\t'{ \"element\": ',\r\n\t\t\t\t\titem()?['Value'], \r\n\t\t\t\t\t' }', \r\n\t\t\t\t\t' }'\r\n\t\t\t\t)\r\n\t\t\t)\r\n\t\t),\r\n\t\t'root/element'\r\n\t)",
													"select": "@replace(concat('<w:tr>', '<w:tc>\r\n\t\t<w:tcPr>\r\n\t\t\t<w:tcW w:w=\"4675\"\r\n     \t\t\tw:type=\"dxa\"/>\r\n\t\t\t<w:shd w:val=\"clear\"\r\n     \t\tw:color=\"auto\"/>\r\n\t\t</w:tcPr>\r\n\t\t<w:p w14:paraId=\"4619B71D\"\r\n   \t\t\tw14:textId=\"6DE2C273\"\r\n   \t\t\tw:rsidR=\"00D453CC\"\r\n   \t\t\tw:rsidRDefault=\"00D453CC\">\r\n\t\t\t<w:r>\r\n\t\t\t\t<w:t>', join(xpath(\r\n\txml(\r\n\t\tdecodeBase64(\r\n\t\t\titem()?['$content'])\r\n\t),\r\n\t'element/*/text()'\r\n), '</w:t>\r\n\t\t</w:r>\r\n\t</w:p>\r\n\t</w:tc>\r\n\t<w:tc>\r\n\t\t<w:tcPr>\r\n\t\t\t<w:tcW w:w=\"4675\"\r\n     \t\t\tw:type=\"dxa\"/>\r\n\t\t\t<w:shd w:val=\"clear\"\r\n     \t\tw:color=\"auto\"/>\r\n\t\t</w:tcPr>\r\n\t\t<w:p w14:paraId=\"4619B71D\"\r\n   \t\t\tw14:textId=\"6DE2C273\"\r\n   \t\t\tw:rsidR=\"00D453CC\"\r\n   \t\t\tw:rsidRDefault=\"00D453CC\">\r\n\t\t\t<w:r>\r\n\t\t\t\t<w:t>'), '</w:t>\r\n\t\t</w:r>\r\n\t</w:p>\r\n\t</w:tc>', '</w:tr>'),\r\n\t\t'&',\r\n\t\t'&amp;'\r\n\t\t)"
												},
												"runAfter": {},
												"description": "Select"
											}
										},
										"runAfter": {
											"DEV-Current-Row-Item": [
												"Succeeded"
											]
										},
										"description": "Scope"
									},
									"Item-Rows-With-Key": {
										"type": "Compose",
										"inputs": {
											"Key": "@items('Apply-to-Each-Table')?['Key']",
											"Value": "@outputs('Wrap-Header-And-Rows-In-Table')"
										},
										"runAfter": {
											"Wrap-Header-And-Rows-In-Table": [
												"Succeeded"
											]
										},
										"description": "Compose"
									},
									"Wrap-Header-And-Rows-In-Table": {
										"type": "Compose",
										"inputs": "@{if(\n\tequals(\n\t\toutputs('Template-Type'),\n\t\t'pptx'\n\t),\n\t'</a:t></a:r></a:p>',\n\t'</w:t></w:r></w:p>'\n)}\n<w:tbl>\n\t\t\t<w:tblPr>\n\t\t\t\t<w:tblStyle w:val=\"TableGrid\"/>\n                                <w:tblBorders>\n\t\t\t\t\t<w:top w:val=\"single\"\n     \t\t\t\t\t\tw:color=\"000000\" />\n\t\t\t\t\t<w:bottom w:val=\"single\"\n        \t\t\t\t\t\tw:color=\"000000\" />\n\t\t\t\t\t<w:right w:val=\"single\"\n       \t\t\t\t\t\tw:color=\"000000\" />\n\t\t\t\t\t<w:left w:val=\"single\"\n      \t\t\t\t\t\tw:color=\"000000\" />\n\t\t\t\t\t<w:insideH w:val=\"single\"\n         \t\t\t\t\t\tw:color=\"000000\" />\n\t\t\t\t\t<w:insideV w:val=\"single\"\n         \t\t\t\t\t\tw:color=\"000000\" />\n\t\t\t\t</w:tblBorders>\n\t\t\t\t<w:tblW w:w=\"0\"\n      \t\t\t\t\tw:type=\"auto\"/>\n\t\t\t\t<w:tblLook w:val=\"04A0\"\n         \t\t\t\t\tw:firstRow=\"1\"\n         \t\t\t\t\tw:lastRow=\"0\"\n         \t\t\t\t\tw:firstColumn=\"1\"\n         \t\t\t\t\tw:lastColumn=\"0\"\n         \t\t\t\t\tw:noHBand=\"0\"\n         \t\t\t\t\tw:noVBand=\"1\"/>\n\t\t\t</w:tblPr>\n\t\t\t<w:tblGrid>\n\t\t\t\t<w:gridCol w:w=\"4675\"/>\n\t\t\t\t<w:gridCol w:w=\"4675\"/>\n\t\t\t</w:tblGrid>\n\t\t\t@{concat(\r\n\tconcat(\r\n\t\t'<w:tr>',\r\n\t\tjoin(\r\n\t\t\tbody('Compose-Header-Cells_3'),\r\n\t\t\t''\r\n\t\t),\r\n\t\t'</w:tr>'\r\n\t),\r\n\tjoin(\r\n\t\tbody('Resolve-And-Compose-Table-Cell-Values-And-Rows'),\r\n\t\t''\r\n\t)\r\n)}                \n</w:tbl>\n@{if(\n\tequals(\n\t\toutputs('Template-Type'),\n\t\t'pptx'\n\t),\n\t'<a:p><a:r><a:t>',\n\t'<w:p><w:r><w:t>'\n)}",
										"runAfter": {
											"Format-Table-Headers": [
												"Succeeded"
											],
											"Format-Table-Rows": [
												"Succeeded"
											]
										},
										"description": "Compose"
									}
								},
								"runAfter": {},
								"description": "Apply to each",
								"runtimeConfiguration": {
									"concurrency": {
										"repetitions": 50
									}
								}
							}
						},
						"runAfter": {},
						"description": "Scope"
					}
				},
				"runAfter": {
					"Filter-Replacement-Table-JSON-for-Repeating-Tables": [
						"Succeeded"
					]
				},
				"description": "Condition"
			}
		},
		"runAfter": {},
		"description": "Made With ♥ By @ohthreesixfive"
	}
}
